.infantry, .troopers {
  width: 32px;
  height: 32px;
  background: url(../assets/images/army.png) no-repeat;
  background-size: 150px;
  position: absolute;
  z-index: 1000;
}

.infantry {
  background-position: 53% 5%;
}

.troopers {
  background-position: -1% 5%;
}

.piy {
  width: 2px;
  height: 2px;
  background-color: black;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
}

.hpSolder {
  width: 32px;
  height: 14px;
  border: 1px solid red;
  background-color: green;
  position: relative;
  bottom: -32px;
  text-align: center;
  font-size: 65%;
  line-height: 16px;
}
